*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    margin: 0px;
}
.text_value
{
    width: 80%;
    margin-bottom: 30px;
}
.text_value p:nth-child(1)
{
    font-size:25px;
    margin-bottom: 10px;
}
.text_value p:nth-child(2)
{
    font-size:10px;
    margin-bottom: 10px;
}
@font-face
{
    font-family: myFirstFont;
    src: url(../images/fonts/Cormorant-Bold.ttf);
}

.card
{
    width: 60%;
}
.main_first
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
   justify-content: center;
   background: linear-gradient(to left bottom, transparent 250px, #f6f6f8 0);
    padding: 20px;
}

.show_border
{
    width: 15%;
    border: 2px solid #2d3682;
}
.main_first_first,.main_first_last
{
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid,rgb(185, 185, 239)) 1;
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}
.main_first_first
{
    width: 100%;
}
.change
{
    width: 60%;
    background-color: white;
    border: 0px;
}
.inner_second
{
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgba(171,98,98,255), rgb(211, 196, 196)) 1;
    padding: 15px;
    box-shadow: 0px 0px 20px gray;
}

.add_css
{
    margin-bottom: 20px;
}
.sec_change
{
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right,rgba(79,173,179,255), rgba(200,254,253,255)) 1;
}
.main_first img{
  width: 40px;
  height: 40px;
}
.sec_change img{
  width: 25px;
  height: 25px; 
}

.images img:nth-child(2){
  margin-bottom: 8px;
  width: 12px;
  height: 12px; 
}

.add_css img,.main_first_first img, .images,.main_first_last img
{
    margin-bottom: 20px;
}

.main_first_first p:nth-child(2),.inner_second p:nth-child(2),.main_first_last p:nth-child(2)
{
    font-weight:bolder;
    font-size: 18px;
    font-family: myFirstFont;
    margin-bottom: 20px;
}
.main_first_first p:nth-child(3),.inner_second p:nth-child(3),.main_first_last p:nth-child(2)
{
    font-size: 15px;
}
a
{
    text-decoration: none;
    font-size: 10px;
}
.last_css
{
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, black,rgb(108, 105, 105), rgb(210, 209, 209)) 1;
}

/* second Half */
.second
{
    display: grid;
    grid-template-rows:repeat(6,200px);
    grid-gap: 10px;
    padding: 15px;
}
.item4,.item1,.item2,.item3,.item5,.item6
{
    position: relative;
}
.item4 img,.item3 img,.item1 img,.item2 img,.item5 img,.item6 img
{
    width: 100%;
    height: 100%;
}

.item7
{
    display: none;
    position: absolute;
}
.item4:hover .item7,.item1:hover .item7,.item2:hover .item7,.item3:hover .item7,.item5:hover .item7,.item6:hover .item7
{
    display :block;
    opacity: 1;
    font-size: 20px;
    color: white;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
}
.item4:hover::before,.item1:hover::before,.item2:hover::before,.item3:hover::before,.item5:hover::before,.item6:hover::before
{
    content: "";
    position: absolute;
    border-top: 2px solid white;
    border-right: 2px solid white;
    height: 40%;
    width: 25%;
    top: 10px;
    right:10px;
    z-index: 2;
}

.item4:hover::after,.item1:hover::after,.item2:hover::after,.item3:hover::after,.item5:hover::after,.item6:hover::after
{
    content: "";
    position: absolute;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    height: 40%;
    width: 25%;
    bottom: 10px;
    left:10px;
    z-index: 2;
}
@media screen and (min-width: 900px) {
    .main_first
    {
        flex-direction: row;
    }
    .main_first_last,.change,.card
    {
        width: 18%;
    }
    .card
    {
        align-self: flex-start;
    }
    body
    {
        margin: 40px;
    }
    .item3
    {
        grid-area:1/3/3/4;
    }
    .item4
    {
        grid-area:2/1/3/3;
    }
    .item5
    {
        grid-area: 3/1/4/3;
    }
    .second
    {
        grid-template-rows:100px 200px 150px;
        grid-template-columns:25% 25% auto;
    }
}
